#calculadora{
	width: 500px;
	height: 750px;
	background-color: #808080;
	border: solid 5px;
	border-radius: 15px;
	padding-top: 30px;
}

#pantalla{
	width: 450px;
	height: 100px;
	background-color: #90EE90;
	border: solid 2px;
	border-radius: 15px;
	text-align: right;
	font-size: 40px;
}

#botones{
	width: 450px;
	height: 600px;
	padding-top: 20px;
}

.botonnum, .botonsim, .botonigual, .botonc, .botonsig{
	width: 95px;
	height: 95px;
	border-radius: 15px;
	padding-bottom: 0px;
	padding-top: 0px;
	box-shadow: 4px 4px #000000;
}

button{
	width: 95px;
	height: 95px;
	border: 0px;
	background-color: #808080;
}

.row{
	padding-top: 10px;
	padding-bottom: 10px;
}
